<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867029141932-dq2a5c9ck49641ftfpam53hauln5um83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867029141932-dq2a5c9ck49641ftfpam53hauln5um83</string>
	<key>API_KEY</key>
	<string>AIzaSyBDi2G2aKeGXVUUEyL_9egmpkXwx_Rj4Og</string>
	<key>GCM_SENDER_ID</key>
	<string>867029141932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vaathanaa007.konsoa</string>
	<key>PROJECT_ID</key>
	<string>konsoa</string>
	<key>STORAGE_BUCKET</key>
	<string>konsoa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867029141932:ios:4212c800eccdae4489d209</string>
	<key>DATABASE_URL</key>
	<string>https://konsoa-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>